/*Friend Finder*/

/*Fonts*/
	@font-face {
		font-family: "lobster";
		src: url("fonts/lobster/Lobster-Regular.ttf");
	}

	@font-face {
		font-family: "arimo";
		src: url("fonts/arimo/Arimo-Regular.ttf");
	}

/*global elements*/
	body {
		font-size: 15px;
		font-family: "arimo", Arial, sans-serif;
		box-sizing: border-box;
		user-select: none;
	}

	a:link {
		text-decoration: none;
		color: #fff;
	}

	a:visited {
		text-decoration: none;
		color: #fff;
	}
	
	.homeBody {
		background: radial-gradient(circle, #660066, #800080, #660066, #800080);
		background-size: cover;
		color: #fff;
	}

	.surveyBody {
		background: #009ACD;
		background-image: url(../images/blackpanther.png);
		background-position: bottom right;
		background-repeat: no-repeat;
		color: #000;
	}

/*Grid container*/
	.gridContainer {
		display: grid;
		height: 100vh;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 2fr 1fr 25px;
		grid-template-areas:
			"header header"
			"featured about"
			"footer footer";
	}
/*Grid Container Classes*/
	.header {
		align-self: center;
		text-align: center;
		grid-area: header;
	}

	.featured {
		grid-area: featured;
	}

	.about {
		grid-area: about;
	}

	.homeFooter img {
		filter: invert(100%);
	}

/*Grid Container Content*/
	.headerButtons {
		width: 100%;
		display: inline-flex;
		justify-content: center;
		margin-top: 5%;
	}

	.button {
		background: rgba(0, 0, 0, 0.3);
		padding: 0.3em;
		margin: 0 5%;
	}

	.button:hover {
		background: rgba(0, 0, 0, 0.5);
	}

	.featured {
		padding-left: 10%;
	}

	.about {
		text-align: right;
		padding: 0 10%;
	}

	.footer {
		grid-area: footer;
		display: inline-flex;
		justify-content: space-between;
		padding: 0 1%;
		align-items: center;
		width: 98%;
		overflow: hidden;
	}

/*Survey CSS*/
	.surveyContainer {

	}

	.heading {
		padding-left: 5%;
		margin-bottom: 2%;
		background: linear-gradient(#660066, #800080, #be29ec);
		border-bottom: solid 2px #000;
	}

	.surveyQuestions {
		margin: 2% 2%;
	}

	form {
		line-height: 1.6;
		width: 50%;
	}

	input {
		width: 75%;
		padding: 0.25em;
		margin-bottom: 1%;
	}

	select {
		width: 100%;
		padding: 0.25em;
		margin-bottom: 2%;
	}

	#submit {
		width: auto;
	}

/*Modal*/

.modal {
	display: none;
}

.modalBackground {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
}

.modalForeground {
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	background: linear-gradient(#009ACD, #00526d);
	border: solid 10px #800080;
	border-radius: 25px;
	padding: 2%;

	width: 80%;
}

#modalInfo {
	display: flex;
	justify-content: space-around;
	margin-top: 5%;
}

#modalPhoto {
	text-align: center;
}

#modalPhoto img {
	height: 300px;
	width: 300px;
	border: solid 6px #000;
	border-radius: 50%;
}

#modalClose {
	opacity: 0.7;
	position: absolute;
	right: 3%;
	top: 2%;
}

#modalClose:hover {
	opacity: 1;
}

#imageCrop {
	z-index: -1;
}

/*Text Classes*/
	h1 {
		font-family: "lobster", Arial, sans-serif;
		font-size: 9em;
		color: #960000;
		text-shadow: 2px 2px 8px #FF0000;
	}

	.featured h1 {
		font-size: 5em;
	}

	h2 {
		font-family: "lobster", Arial, sans-serif;
		font-size: 2em;
	}

	h3 {
		font-family: "lobster", Arial, sans-serif;
		font-size: 2em;
		color: #960000;
		text-shadow: 2px 2px 8px #FF0000;
	}

	h6 {
		font-size: 0.75em;
	}

	p {
		font-size: 1em;
	}

/*social media icons*/

.footer img {
	height: 25px;
}

/*media queries*/

@media only screen and (max-width: 1100px)  {
	.gridContainer {
		grid-template-rows: auto;
		grid-template-areas: 
		"header header"
		"about about"
		"featured featured"
		"footer footer";
		grid-row-gap: 5vh;
		height: auto;
		margin-top: 3vh;
	}

	.surveyBody {
		background-image: none;
	}

	form {
		width: 90%;
		margin: auto;
	}
}

@media only screen and (max-width: 814px) {
/*	body {
		font-size: 10px;
	}*/

	#modalPhoto img {
		height: 200;
		width: 200;
	}
}

@media only screen and (max-width: 600px) {
	#modalPhoto img {
		height: 150px;
		width: 150px;	
	}
}

@media only screen and (max-width: 400px) {
	h1 {
		font-size: 4em;
	}

	.featured h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.5em;
	}

	.featured {
		display: flex;
		flex-direction: column;
	}
}