/*Friend Finder*/

/*Fonts*/
	@font-face {
		font-family: "lobster";
		src: url("fonts/lobster/Lobster-Regular.ttf");
	}

	@font-face {
		font-family: "arimo";
		src: url("fonts/arimo/Arimo-Regular.ttf");
	}